.dashboardHeading {
  color: rgb(0, 0, 0);
  text-align: center; 
  padding-top: 5%;
  font-size: 80px;
}

.dashboardSmallHeading {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}
  
.dashboardButton {
  margin-top: 2%;
  color: rgb(41, 54, 131);
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  text-decoration: none; 
  transition: background-color 0.3s, color 0.3s; 
  display: inline-block; 
  padding: 10px 20px; 
}
  
.dashboardButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 54, 131);
  transition: background-color 1s;
}
  
.buttonContainer {
  text-align: center; 
}
  
.searchIcon {
  width: 30px; 
  height: 25px; 
  margin-left: 8px; 
}
  

/* Media */
@media only screen and (max-width: 768px) {
  .dashboardHeading {
    font-size: 60px; 
    padding-bottom: 25%;
  }
  
  .dashboardSmallHeading {
    display: none; 
  }
  
}
